.rete {
  position: relative;
  width: 80vw;
  height: 90vh;
  font-size: 1rem;
  background: transparent;
  margin: 1em;
  border-radius: 1em;
  text-align: left;
  border: 1px solid rgba(31, 41, 55, 0.7);
}
